// Font Stacks

$font-family--primary    : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary  : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Text

$base__font-size : 16px;
$base__line      : 24px;
$letter-space    : 1px;

// Breakpoints

$brkpoint-sm    : 480px;
$brkpoint-lg    : 1000px;

//Colors
$turqoise: #56F0C0;
$white:    #fff;
$black:    #000;
$lightdark: lighten($black,50%);
$lima:	   #43E331;
$piper:    #CE4B27;
$tango:    #F16B22;
$purple:   #931DD3;
$amethyst: #AA6CCB;
$bright:   #0FEBC9;
$azure:    #0F81EB;
$spring:   #0FEB98;

//UI Colors
$ui-colors: ( 
	default: $turqoise,
	success:  $lima,
	error:   $piper,
	warning: $tango,
	info:    $purple


	);

//Grid Colors
$grid-colors: (
	3: $amethyst,
	4: $bright,
	5: $lima,
	6: $azure,
	7: $piper,
	8: $tango,
	12:$spring

	);

// Font Weights

$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;

// Transitions

$trns-duration  : .3s;

// Screen reader text

.srt {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

//GRID

$g-col-width    : 65px; 
$g-gutter-width : 20px;  
$g-col-count    : 12;  
$g-cont-max-w   : 1050px; 

