.form {
	// padding-left:em(30px);
	padding-top:em(20px);
	@include flexbox($direction:column);

		.headline--secondary {
		@extend %hdln-sec;
		margin-bottom: em(22px, 24px);	
	}
	//styling  labels for inputs
	@include e(label) {
		@include m(hidden) {
			@extend .srt;
		}
		display: block;
		margin-bottom: em(10px);
	}
	//styling login inputs
	@include e(input) {
		@extend %logininputs;

		&:focus {	
			border-color: $turqoise;
		}
	}
	//styling lgin button
	@include e(btn) {
		@extend %btn;
		
	}
}