

.grid__row{
	// .grid__col--3{
	// 	text-align:center;
	// }
	width: 90%;
	padding-top:em(50px);
	
@each $theme, $color in $grid-colors{
	.grid__col--#{$theme}.theme__colors{
	background-color: $color;
	border:none;
	font-size:em(25px);
	border-radius: em(5px);
	margin-top:em(5px);
}
}	
	@include mq(small){
	@include flexbox($direction:column){
			}
	

}
}


// .grid__col--3{
// 	text-align:center;
// 	 }
// .link + .img--logo{
// 	text-align:center;
// }
.grid__col--12{
	@include flexbox($direction:column);
	
}
// .link{
// 	margin-left:31%;
// }