

.grid__row{
	width: 90%;
	@each $theme, $color in $grid-colors{ 
	.grid__col--#{$theme}.theme__colors{

	background-color: $color;
	@extend %grid;
}
}	
	@include mq(small){
	@include flexbox($direction:column){
			}
	}
	@include mq(large){
		@include flexbox($direction:row,$content:space-around);
		 @for $i from 1 through $g-col-count {

    $context: g-context($g-col-width, $g-col-count, $g-gutter-width);
    $target: ($g-col-width * $i)  +  ($g-gutter-width * ($i - 1));

        .grid__col--#{$i}{
            width: percentage($target, $context);
        }
    }
}
}
.grid__col--3 {
     display: flex;
    flex-direction: column;
    align-items: center;
   }

.grid__col--12{
	@include mq(large){
	@include flexbox($direction:row,$content:space-between);
		}
	//width:100%;
}
