
.img {

  @include m(avatar) {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: em(24px);
  }
}
.img--logo{
	// text-align:center;
	//  margin-left:25%;
	//align-self:center;
}
// .grid__col--3{
// 	@include flexbox(){
// 		align-self: center;
// 	};
// }
.grid__col--3.theme__colors{
	@include flexbox(){
		//align-self:flex-start;
	}
	@include grid-colors($grid-colors);
}