* {
	box-sizing: border-box;
}

body {
  font-size: $base__font-size;
  font-family: $font-family--primary;
  line-height: ($base__line/$base__font-size);
}
.container{

	padding-left:10%;
	@include flexbox($direction:column){
	}
	 &>*{
    padding-top:em(30px);
    }
}
